* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

:root {
  /* Primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  /* Dark mode */
  --Toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* Light mode */
  --Toggle-light: hsl(230, 22%, 74%);

  /* Dark theme */
  --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
  --Dark-Desaturated-Blue-Card-BG-hover: hsl(228, 28%, 30%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);

  /* Light Theme */
  --White-BG: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
  --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
  --Light-Grayish-Blue-Card-BG-hover: hsl(227, 40%, 90%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--Very-Dark-Blue-BG);
  color: var(--Desaturated-Blue-Text);
  position: relative;
}
body.light {
  background-color: var(--White-BG);
  color: var(--Dark-Grayish-Blue-Text);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  border-radius: 0 0 2rem 2rem;
  background: var(--Very-Dark-Blue-Top-BG-Pattern);
  z-index: -1;
}
body.light::before {
  background: var(--Very-Pale-Blue-Top-BG-Pattern);
}

.container {
  max-width: 1200px;
  padding:  3rem 4rem 0 4rem;
  margin: auto;
}

/* Header */ 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header__main__title {
  color: var(--White-Text);
  margin-bottom: 5px;
}
body.light .header__main__title {
  color: var(--Very-Dark-Blue-Text);
}

.header__main__number {
  font-weight: 700;
}

/* Toggle switch */
.toggle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggle__switch:hover + div {
  cursor: pointer;
  color: var(--White-Text);
}
body.light .toggle__switch:hover + div {
  cursor: pointer;
  color: var(--Very-Dark-Blue-Text);
}

.toggle__name {
  font-weight: 700;
}

.toggle__switch__input {
  display: none;
}

.toggle__switch__label {
  display: flex;
  align-items: center; 
  width: 52px;
  height: 26px;
  background: var(--Toggle-dark);
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

.toggle__switch__label:hover {
  cursor: pointer;
}

body.light .toggle__switch__label {
  background: var(--Desaturated-Blue-Text);
}
body.light .toggle__switch__label:hover {
  background: var(--Toggle-dark);
}

.toggle__switch__label i {
  color: var(--Very-Dark-Blue-Top-BG-Pattern);
}
body.light .toggle__switch__label i {
  color: var(--Very-Pale-Blue-Top-BG-Pattern);
}

.toggle__switch__label .bi-circle-fill{
  position: absolute;
  background-color: var(--Very-Dark-Blue-Top-BG-Pattern);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
body.light .toggle__switch__label .bi-circle-fill {
  background-color: var(--Very-Pale-Blue-Top-BG-Pattern);
}

.toggle__switch__input:checked + .toggle__switch__label .bi-circle-fill {
  transform: translateX(26px);
}

/* Top section */
.top__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--Dark-Desaturated-Blue-Card-BG);
  width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
}
body.light .card {
  background-color: var(--Light-Grayish-Blue-Card-BG);
}
.card:hover {
  background-color: var(--Dark-Desaturated-Blue-Card-BG-hover);
}
body.light .card:hover {
  background-color: var(--Light-Grayish-Blue-Card-BG-hover);
}

/* Border top colors */
.facebook-border-top {
  border-top: 5px solid var(--Facebook);
}
.twitter-border-top {
  border-top: 5px solid var(--Twitter);
}
.instagram-border-top {
  position: relative;
}
.instagram-border-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  border-radius: 3px;
  background: var(--Instagram);
}
.youtube-border-top {
  border-top: 5px solid var(--YouTube);
}

.card__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card__top__username {
  font-weight: 700;
}

.card__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__middle__number {
  color: var(--White-Text);
  font-size: 4rem;
}
body.light .card__middle__number {
  color: var(--Very-Dark-Blue-Text);
}
.card__middle__followers {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.card__bottom__span {
  color: var(--Lime-Green);
  font-weight: 700;
}
.card__bottom__span--red {
  color: var(--Bright-Red);
  font-weight: 700;
}

/* bottom section */
.bottom__section {
  width: 100%;
}

.bottom__section__title {
  color: var(--White-Text);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
body.light .bottom__section__title {
  color: inherit;
}

.card2__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 3rem;
}

.card2 {
  background-color: var(--Dark-Desaturated-Blue-Card-BG);
  width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
}
body.light .card2 {
  background-color: var(--Light-Grayish-Blue-Card-BG);
}
.card2:hover {
  background-color: var(--Dark-Desaturated-Blue-Card-BG-hover);
}
body.light .card2:hover {
  background-color: var(--Light-Grayish-Blue-Card-BG-hover);
}

.card2__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card2__top__text {
  font-weight: 700;
  font-size: 1rem;
}

.card2__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card2__bottom__number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--White-Text);
}
body.light .card2__bottom__number {
  color: var(--Very-Dark-Blue-Text);
}

.card2__bottom__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card2__bottom__figure {
  font-weight: 700;
  color: var(--Lime-Green);
}
.card2__bottom__figure--red {
  font-weight: 700;
  color: var(--Bright-Red);
}